@use 'reset';
@use 'var' as *;
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bubbler+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

html {
    overflow-x: hidden;
    width: 100%;
    background-color: $background;
}

.item-logo {
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
        padding-top: 15px;
        width: 100px;
        height: 100px;
    }
}


.BN {
 
    height: 850px; 
    width: 100%;
    border-bottom: 1px dashed #777;

    .BN-title {
        
        .text-item {
            position: absolute;
            font-family: "Aboreto", serif;
            font-optical-sizing: auto;
            font-style: normal;
            color: #777;
            font-size: 96px;
            left: 100px;
            top: 200px; // 補上一個 top，不然它會浮在最上面
            z-index: 2; // 確保文字在圖上面
        }

        .icon-1 {
            position: absolute;
            width: 150px;
            left: 100px;
            top: 800px; // 這是最下面的元素
        }

        .icon-2 {
            position: absolute;
            width: 40px;
            height: 40px;
            left: 210px;
            top: 250px;
        }

        .p0-item {
            position: absolute;
            width: 1000px;
            height: 1000px;
            left: 650px;
            opacity: 0.3;
            top: -100px;
            z-index: 0; 
            pointer-events: none; 
        }

        .item1 {
            position: absolute;
            width: 390px;
            left: 360px;
            top: 480px;
            z-index: 1;
        }
        .item2 {
            position: absolute;
            width: 290px;
            left: 720px;
            top: 680px;
            z-index: 1;
        }
        .item3 {
            position: absolute;
            width: 310px;
            left: 980px;
            top: 500px;
            z-index: 1;
        }
        .item4 {
            position: absolute;
            width: 320px;
            left: 1060px;
            top: 630px;
            transform: rotate(-30deg);
            z-index: 1;
        }
    }
}



.item-content {
    display: grid;
    grid-template-columns: repeat(3, 350px);

    gap: 60px 60px; 
    
    justify-content: center;
    padding: 100px 0;
    .item-card {
        width: 350px;
        height: auto;
  
        
        // 讓卡片內容(圖片文字)置中排好
        display: flex;
        flex-direction: column; // 上下排列
    
        
        // 圖片設定
        .item-card1 {
            width: 100%; // 圖片不要撐滿，留點白邊比較好看
            height: 350px;
            object-fit: cover; // 保持比例，不要被拉寬
            margin-bottom: 15px;
        }

        .item-name {
             font-family: "Aboreto", serif;
            width: 100%;
            text-align: left;
            font-size: 18px;
            margin-top: 15px;
            margin-bottom: 15px;
            box-sizing: border-box;
            color: #777;

        }

        .item-price {
            font-size: 18px;
             font-family: "Aboreto", serif;
            color: #777;
        }
    }
}
.footer {
    position: relative;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.footer::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    max-width: 1200px;
    z-index: 3;
}

.footer-links {
    text-align: left;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    gap: 20px;
    display: flex;
    flex-direction: column;
    color: #262626;
}

.email-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.email {
    border-radius: 999px;
    width: 300px;
    height: 35px;
    padding-left: 15px;
    border: 1px solid #777;
    font-size: 16px;
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
}

.bg-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.subscribe-btn {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
    display: flex;
    background-color: #ECB8A9;
    color: #fff;
    border-radius: 999px;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
}

.bg-bottom img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.copy {
    width: 100%;
    height: 30px;
    background-color: #C5CFBD;
    color: #fff;
    text-align: center;
    padding-top: 2px;
}
 .p2-btn {
        margin: 0px auto 60px auto;
        width: 100%;
        width: 290px;
        height: 55px;
        border-radius: 50%;
        border: 2px solid #ECB8A9;
        display: flex;
        justify-content: center;
        align-items: center;
         position: relative;
        

        .more {
            font-size: 18px;
            color: #d3907d;
            width: 260px;
            height: 46px;
            border-radius: 50%;
            border: 2px solid #ECB8A9;
            display: flex;
            justify-content: center;
            align-items: center;

            span {
                letter-spacing: 2px;
                font-family: "Aboreto", system-ui;
                font-weight: 400;
                font-style: normal;
            }

            .star-left {
                color: #ECB8A9;
                padding-right: 25px;
                font-size: 14px;
            }

            .star-right {
                color: #ECB8A9;
                padding-left: 25px;
                font-size: 14px;
            }
            
        }
        :hover {
            background-color: #d3907d;
            color: #fff;

            .star-left {
                color: #fff;
            }

            .star-right {
                color: #fff;
            }
        }
    }