@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap');

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px; /* 根據你導覽列的高度調整 */
}

.main-nav {
  // 設定 nav 本身的樣式，例如背景色和邊界
  background-color: #f8f5ec;
  border-top: 1px solid #dcd4c5;
  border-bottom: 1px solid #dcd4c5;
  padding: 8px 0; // 增加上下內邊距
  text-align: center;
}

.nav-list {
  display: flex; // 使用 Flexbox 進行排版
  justify-content: center; // 水平置中
  align-items: center; // 垂直置中
  list-style-type: none; // 移除 ul 預設的點
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 90px; // 調整項目之間的間距
  font-family: "Bodoni Moda", serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 20px;
  color: #ECB8A9; // 連結文字顏色
  text-transform: uppercase; // 轉換為大寫
  &:hover {
      color: #d26464;
    }

  a {
    color: inherit; // 連結繼承父層顏色
    text-decoration: none; // 移除下底線

  }
}

.separator {
  color: #ECB8A9; // 連結文字顏色
  font-size: 20px; // 調整分隔符號的大小
  margin: 0 30px; // 調整分隔符號的間距

  // 移除連結效果
  a {
    pointer-events: none;
    cursor: default;
  }

}